[2020-06-07 15:27] daltonfury42 opened #12 "Token Number Generation"
A strong point which brought back token number to the table was the scenario where two people with the same name are present in the queue. So, we decided that it would be required to also generate a running (1, 2, 3, 4..) tokenNumber for each user.

This will not replace anything in the current system. This is different from `tokenId` which is the UUID/PRIMARY_KEY generated for the user joining th

[2020-06-07 16:26] daltonfury42 opened #13 "[Security] Admin Page Hijack"
In the current system, anyone with `queueID` can become the admin. For example, anyone with the `queueID` can send requests to the backend directly, and say, remove people from the queue.

The right real issue here is that we don't authenticate users. The proper solution to this is to implement authentication

[2020-06-07 16:29] daltonfury42 opened #14 "[Code Quality] Lombok"
Can we use [Lombok](https://projectlombok.org/) to reduce some boiler plate code?

[2020-06-07 16:31] daltonfury42 opened #15 "[Infra] CI/CD, Dev and Prod Environments for Backend"
Current backend deployment is fully manual. We need to automate.

Also there is only one instance now. Dev server like we have for UI is needed.

[2020-06-07 17:33] daltonfury42 opened #16 "Proper REST API design"
A draft proposal:

Endpoint | Description
-- | --
GET /v1/queue/`<queue-id>` | Get All Users Inside the Queue if the requestor is admin, else just return queue metadata, mainly queue name and status
POST /v1/queue | Create a new
POST v1/queue/`<queueId>`/ | Add a entry to the queueparams: name, mobilereturn: token-id
GET v1/queue/`<queueId>`/`<tokenId>` | Returns the status of token
DELETE v1/queu

[2020-06-10 19:06] daltonfury42 opened #17 "PublicQueueTask1: Queue Name Should be Unique"
In a step closer to moving towards public/discoverable queues and also to make the shared URL more human readable, we would need to put a uniqueness constraint on the queue name.

Handling of whitespaces, capitalization and stripping of non url special characters might be required, so names "Joy Mart" and "Joy    Mart" and "Joy mart" would all be duplicates.

[2020-06-10 19:08] daltonfury42 opened #18 "PublicQueueTask2: Public / Private Queue Toggle Feature"
There would be a check box or a toggle button on the UI, that the creator would set, according to which the queue would be marked as public or private.

Public Queues will later be the ones that are searchable.

[2020-06-10 19:10] daltonfury42 opened #19 "PublicQueueTask3: Search For queue by name feature"
There would be a join queue link, and when the user types a queue name, list of all queues that meet the search text criteria would be returned.

For a simple model, a prefix search can be done.

[2020-06-10 19:10] daltonfury42 opened #20 "PublicQueueTask4: Pause and Delete Queue Functionality"

[2020-06-10 19:12] daltonfury42 opened #21 "PublicQueueTask5: PIN to protect queue"
A queue creator can optionally choose to protect his queue by using a 4 digit pin. Then he can keep refreshing the pin whenever he wishes to.

[2020-06-11 15:50] thehamzarocks commented on #17
Instead of separate handling, it would be better to just put constraints on queue names so they don't contain these special characters.

[2020-06-11 17:29] daltonfury42 commented on #17
Hmm, have to think about it. Can we allow the special characters in the name, but keep a separate field in the DB for the queue-url where we clean the user input to create the url?

Queue Name from user: "  Holla & Hemi   Market.   "
Queue Name stored in the DB: "Holla & Hemi Market."
(white space stripped on beginning and end, and multiple spaces combined to single)
Queue Url Stored in DB: holla-

[2020-06-12 16:58] daltonfury42 commented on #17
We can keep it unique for now, and as a next step, we should append a small random string to it in case of collision

[2020-06-13 05:06] thehamzarocks commented on #17
For better user experience, we should be able to validate the queue name for uniqueness even before the user hits create queue.

[2020-06-13 11:27] thehamzarocks opened #23 "Constraints on Queue Name"
As the queue name should be directly inputable on the URL, it should not contain any spaces or special characters, and there should be UI and backend validations for the same.

[2020-06-13 11:27] #17 closed

[2020-06-13 15:19] avinashkris9 commented on #14
Hello, I am a first time contributor. I would like to pick this activity. Could you help me for environment setup.  Do I have to create my own AWS credentials ?

Get below error if I compile and run as mentioned in Readme.

`nable to load AWS credentials from any provider in the chain: [EnvironmentVariableCredentialsProvider: Unable to load AWS credentials from environment variables`

[2020-06-13 16:59] daltonfury42 commented on #14
Hi @avinashkris9, sure, let me help you with that.

This exception would come for anyone trying to run code manually. It might be a good idea to not check for credentials unless the AWS_PROFILE environment variable is set. That way, people setting up backend locally would not need to go through the extra step of setting credentials. It would be a quick change, give me a moment.

[2020-06-13 17:07] daltonfury42 commented on #14
This has been taken care of. @avinashkris9 can you take the latest master?

[2020-06-14 07:50] daltonfury42 commented on #13
Some updates:

The aim is to sign up users anonymously when they first visit the site. This happens in the background. I am just exploring how Cognito can help us with auth.

**Client Side**

Currently, on first visit, a userId and tempKey is generated and stored in the local storage. This is used to create an account for the user in the Cognito User Pool.

We also log in using the key and id, and

[2020-06-14 08:06] daltonfury42 opened #25 "EngDebt: Proper module name, package names etc"
Our artefact id, group id, package names, module name etc are from a sample project.
[code]

We should refactor to `me.simplq` and also rename some folders

[2020-06-14 09:49] avinashkris9 commented on #14
Thanks. Yes. Now I am able to run locally.

[2020-06-14 09:50] avinashkris9 commented on #14
Please assign the issue to my id. I have raised [https://github.com/SimplQ/simplQ-backend/pull/26 ] . Please review.

[2020-06-14 18:08] thehamzarocks commented on #15
CI/CD pipeline has been set up using AWS CodePipeline.
A new deployment will be created every time code is checked in to master.

As discussed with @daltonfury42, we can have both dev and prod versions running in the same instance on different ports.

[2020-06-16 18:38] daltonfury42 commented on #14
Resolved by #26

[2020-06-16 18:42] daltonfury42 commented on #23
We can use spring bean validation for this: https://reflectoring.io/bean-validation-with-spring-boot/

[2020-06-16 18:43] #14 closed

[2020-06-16 18:44] #19 closed

[2020-06-16 18:47] daltonfury42 commented on #21
While creating a queue, we can take as a boolean 'isPasswordProtected'.

If so, a random 4 digit number is to be returned. There should also be a api for the admin to request a new random number.

Similarly, while joining a queue, if the queue is password protected, the user should be asked to send a enter the password.

[2020-06-17 05:01] daltonfury42 commented on #21
@avinashkris9 This is a nice task, you want to take it up?

[2020-06-17 10:06] avinashkris9 commented on #21
I can try. I have some doubts

1. Post request on `/queue/create` will have isPasswordProtected field. Can client send a pin when sending create request or is it always server responsible to generate pin ?
2. if isPasswordProtectedField is yes, a 4 digit random pin should be generated and send through response body.
3. Post `v1/user/add` should have pin while adding user. How the pin should be pas

[2020-06-17 17:07] daltonfury42 commented on #21
1. Let's generate the PIN. It would be cleaner UX. Otherwise the user would have to think of one and type it. Most systems are designed like this.
2. Right
3. Request Body
4. Good question. Yes. it's the same for now, but I have plans to have two separate APIs later.
5. Nothing fancy, `new Random(System.currentTimeMillis())` should work, in my opinion.

[2020-06-21 12:32] thehamzarocks commented on #16
1.  Are some of the above endpoints currently unimplemented?
2. Get All Users Inside the Queue if the requestor is admin, else just return queue metadata, mainly queue name, and status - these should be two distinct endpoints.

[2020-06-21 16:04] thehamzarocks commented on #16
REST API:
https://docs.google.com/spreadsheets/d/11e9VmPXeru_E4bmMOjjULOa9Giz99gTPNI2NUy6s7r4/edit?usp=sharing

[2020-06-23 18:30] daltonfury42 commented on #25
also we don't use final

[2020-06-27 14:11] thehamzarocks commented on #15
To save on buildminutes, we'll be using Travis CI for dev builds and CodePipeline for PROD.

[2020-06-28 06:24] daltonfury42 commented on #15
@thehamzarocks Can we configure travis to be triggered just on all commits to master?

[2020-06-28 07:07] daltonfury42 commented on #15
Getting this done right, and having a dev and prod environment is very critical, if you think of it, if we are to have a product that doesn't break every now and then.

This task is a bit more wider in scope, we should have separate databases for dev and prod, and the two could be having different schemas whenever we change the schema. (Prod would still be having the old schema, and dev the update

[2020-06-28 13:31] thehamzarocks commented on #15
Here's a draft plan. What do you think? @daltonfury42

1. We already have a Travis-CI deployment for master and AWS Codepipeline for prod. We can move the prod build to Travis-CI in the future.

2. We should have two services in systemd. Each will point to the corresponding jar (dev/prod) and execute the jar with different jvm parameters (-Dspring.profiles.active=dev)

3. We have two Deployment Gr

[2020-06-28 14:15] daltonfury42 opened #46 "Schema Changes Breaks the Server"
Whenever we update the schema, we need to migrate. How do we tackle this? currently, it fails on AWS.

[2020-06-28 14:26] daltonfury42 opened #47 "Do we need to allow the same user to join a queue multiple times?"
Now that auth is here, and we also know the user name of the person who is joining the queue, we can restrict that a person can join the queue only once.

He can join the queue again once he had left the queue. In other words, the same guy can't join the queue twice.

The UI, on going to to join queue page, should handle this.

[2020-06-28 16:54] daltonfury42 commented on #16
donee

[2020-06-28 17:53] daltonfury42 opened #48 "Per environment Configuration"

[2020-06-28 17:55] #48 closed

[2020-06-29 04:25] #16 closed

[2020-06-29 04:26] daltonfury42 commented on #46
We have decided to do manual DB migrations, but later thought of giving https://aws.amazon.com/blogs/database/building-a-cross-account-continuous-delivery-pipeline-for-database-migrations/#:~:text=Amazon%20S3%20creates%20a%20bucket,Flyway%20manages%20the%20database%20changes a try first.

[2020-06-29 04:31] daltonfury42 commented on #13
Progress: UI directly connects to Cognito, and gets a JWT, which it sends with all requests. At backend, the token is verified, and the userid is extracted and stored into the DB against each queue/token created, in the field `ownerId`.

Half the endpoints are secured, just have to verify and add checks to remaining endpoints, mostly at token side. For example, when removing a token, we have to th

[2020-07-03 19:42] nirmalkv commented on #23
Adding a regex which allows alphanumerics and -._~. Do we have any naming conventions? Also leaving the validations to its default behavior which is to send 400 bad request. Will that be enough to catch the error at UI?

[2020-07-03 20:16] daltonfury42 commented on #23
Let's allow only numbers, alphabets and hyphens. Yes, let's do the default behaviour.

I didn't get what you are asking about naming conventions.

[2020-07-04 06:12] thehamzarocks commented on #15
We have all the conf handled by service files (hacky), but still need to point the codedeploy env for prod to a different location than the current dev one: /deployed/complete

[2020-07-04 08:25] daltonfury42 commented on #15
Right. This will all be solved with your conf changes!!

[2020-07-04 11:09] nirmalkv commented on #23
It's what you said only, whether there there are any more constraints on allowed queue names.

[2020-07-04 12:31] sajmalyousef commented on #21
How is the pin stored and validated ?

[2020-07-04 14:26] daltonfury42 commented on #21
The pin is stored in the queue table. Validation is manual, we will have to check the pin from the user against the pin from the db.

The join queue form will send a queue status request when the page loads, it will have a boolean field `isPasswordProtected` that if set to true, the UI would have to ask the user for the PIN.

The admin would also have a button somewhere to reset the pin with a new

[2020-07-04 14:29] sajmalyousef commented on #21
Just a suggestion encrypt (not encode) the pin before storing it in db , will be a good practice

[2020-07-04 14:29] daltonfury42 commented on #23
This is good for now. I can't think of any.

[2020-07-04 17:54] daltonfury42 commented on #21
From what I think, these are the reasons why we encrypt data:

1) We hash passwords so that even the website owners can't read it.
2) We encrypt sensitive information, like credit card info, biometrics etc. so that if we get hacked and the data gets stolen, it doesn't create problems.

Our queue password, is a random 4 digit pin that we store. Think of it like a bluetooth pairing code. I don't see

[2020-07-08 07:30] daltonfury42 opened #61 "Setup Cloudwatch Logging and Alarms"
Aim: Avoid downtime by proactive monitoring.

Cloudwatch in free tier allows 10 custom alarms and metrics. It can be used for this.

1) If cpu/memory/(disk utilisation) goes above a threshold for the , alert send to dev team. If for some reason the server also goes down, or a EC2 health check failed, then also some notification should be set up.

2) If there is unusually high rate of HTTP 500s or

[2020-07-08 07:30] daltonfury42 commented on #61
Health checks would be good to have

[2020-07-12 17:39] #23 closed

[2020-07-12 18:28] daltonfury42 opened #62 "Dev and Prod to have different schema/db in the same server"

[2020-07-13 04:58] daltonfury42 opened #64 "Setup API Gateway"

[2020-07-16 18:32] daltonfury42 commented on #13
https://auth0.com/blog/why-should-use-accesstokens-to-secure-an-api/

The article says not to use the access_token for authentication. And we are doing that. 🤔

@nirmalkv

[2020-07-16 18:49] daltonfury42 commented on #13
Confused... Have to figure it out...

https://auth0.com/docs/protocols/oidc#access-tokens

[2020-07-31 13:53] #18 closed

[2020-07-31 17:46] daltonfury42 commented on #46
For next prod deployment, we need to do: `ALTER TABLE token RENAME COLUMN notifyable TO notifiable`

[2020-07-31 18:50] daltonfury42 opened #66 "Use Spring Profiles"
We should have three profiles, `dev`, `prod` and `default/local`.

1) We should load a `MockSmsService` bean unless it's `prod` profile. https://github.com/SimplQ/simplQ-backend/blob/master/complete/src/main/java/com/example/restservice/service/smsService/TexLocalSmsService.java

Then we can avoid commenting out line 31 in the above file.

2) Similarly, a SecretsManager should not be loaded on `de

[2020-07-31 20:51] #62 closed

[2020-07-31 20:52] daltonfury42 commented on #15
@thehamzarocks Can we close this?

[2020-08-01 04:49] pavan541cs commented on #66
I will work on this today @daltonfury42

[2020-08-01 14:01] pavan541cs commented on #20
@daltonfury42 Can I pick this one ?

[2020-08-01 14:18] pavan541cs commented on #12
#65 Should close this

[2020-08-01 14:42] daltonfury42 opened #69 "Backend Support for Custom Fields on Joining Form - Design"
Overall Idea:

Currently when a person joins a queue, he is asked a fixed set of input data, (name and contact number). We want to give the queue owner the ability to define a set of custom set of questions. We need to let the admin set it in a way inspired from the Google Forms model:

![image](https://user-images.githubusercontent.com/11256376/89100126-49bf6000-d412-11ea-9dab-7a526b36ed94.png)

[2020-08-01 14:51] daltonfury42 commented on #69
**Proposal - How we define and store questions**

We would have GET/PUT/POST endpoints for each queue that the UI would use to set, edit, and view the questions.  Each custom_question would have these fields:

1. Label - Example: "What service are you looking for?"
2. Type: checkbox, file, dropdown, short_text, long_text etc
3. Depending on the type, there would be other fields, like for example,

[2020-08-01 15:08] daltonfury42 commented on #69
A sample joiner answer:
[code]
Json:
[code]

[2020-08-01 15:15] daltonfury42 commented on #69
How other users might take it:

A Restaurant Owner Could Feed the Menu as a question:
[code]

A printshop:

[code]

[2020-08-01 16:07] daltonfury42 commented on #20
Yes, that would be a good task to pick up. We would need to introduce a new `QueueStatus` field in the queue entity. It can be an enum with three states, ACTIVE, PAUSED, and DELETED. Other endpoints would have to return the statues at appropriately, and join queue should fail with the right reason if it's paused or deleted.

I am thinking we can expose this functionality to the UI like this:

[cod

[2020-08-01 16:54] #12 closed

[2020-08-01 17:34] pavan541cs commented on #20
Lets introduce `QueueStatus` into Queue entity and return that in the `status` endpoint and introduce `/v1/queue/pause/{queueId}` to pause the queue and `DELETE /V1/queue/{queueId}` to delete the Queue. Delete implies setting the status of the queue as `DELETED`

[2020-08-01 17:56] daltonfury42 commented on #20
Honestly I am not an expert at REST endpoint design. These endpoints look good to me. Let's ask @thehamzarocks what he thinks.

What verb will `/v1/queue/pause/{queueId}` use? Also, how would you resume a queue? `/v1/queue/resume/{queueId}`?

[2020-08-01 18:05] thehamzarocks commented on #20
If you want to pause/resume a queue, a PUT on the queue would suffice?

PUT /v1/queue/{queueId}
with the corresponding status entry in the payload?

Since we are modifying the queue object after all.
This makes our API simpler.

[2020-08-01 18:19] daltonfury42 commented on #20
Yeah, this makes sense.. Otherwise I see a explosion in the endpoints... It should be a POST and not a PUT, right?

[2020-08-01 18:22] pavan541cs commented on #20
I think it should be a PUT

[2020-08-01 18:26] thehamzarocks commented on #20
We're not creating a new queue, right? So PUT with the queueId would suffice.
We could use POST if we haven't supported PUT, we'll just have to add the queueId to the request payload instead.

POST /v1/queue

[2020-08-01 18:49] daltonfury42 commented on #20
Ok got it!

[2020-08-01 19:24] maaverik commented on #69
This looks good. Just one thing I noticed is the first object in the QUESTION_SET list doesn't have an id attribute. Is this intentional? It would break the structure, right?

` "subQuestions": [
            {
                "label": "What service are you looking for?",
                "type": "DROP_DOWN",
                "options": [
                    {
                        "id": "1",

[2020-08-01 19:27] daltonfury42 commented on #69
I've updated it. Yeah, I missed an id there.

[2020-08-01 19:30] maaverik commented on #69
Yeah, that'll work.

[2020-08-02 06:27] daltonfury42 commented on #69
I've updated the above posts with a `questionId` field.

[2020-08-02 07:05] #66 closed

[2020-08-02 07:07] daltonfury42 opened #70 "Configuration to disable SMS in Prod"
Currently SMS is enabled in prod after #68. We would need to control it via `application.properties`

[2020-08-02 16:47] pavan541cs commented on #69
@daltonfury42 The approach looks good

[2020-08-03 17:18] daltonfury42 commented on #61
![image](https://user-images.githubusercontent.com/11256376/89209179-6c50a500-d5db-11ea-8a1d-4f5ceb6bdead.png)

We are getting this issue for the second time. Instance becomes totally unreachable.

[2020-08-06 11:20] nikita-tyagi commented on #70
@daltonfury42 I would like to contribute. How to get started?

[2020-08-06 11:30] daltonfury42 commented on #70
Sure. Welcome. This is an easy task that can get you started, and then you can go on and take bigger ones. Can you fork the repository and get it running on your local?

You can then use the postman collection in the readme to test your setup.

For this task, you'll have to put a new property inside `application.properties`, `sms.enabled=false`.

Then in the below file, SMS should be send only if

[2020-08-06 11:32] nikita-tyagi commented on #70
Okay. I will start looking into this thank you!

[2020-08-07 15:13] daltonfury42 commented on #13
As per discussion with @thehamzarocks, we need to anyway use the client ID token and not the access token here: https://github.com/SimplQ/simplQ-frontend/blob/master/simplq/src/services/auth.js#L6

[2020-08-07 15:16] thehamzarocks commented on #13
Yes. In addition, we should also check that the aud of the token matches the client id being used.

[2020-08-08 09:35] akashkbaburajan commented on #69
Made a basic design of Queue settings field where we can incorporate this functionality. https://xd.adobe.com/view/99a3a298-8f0c-468a-6cf3-614e96f6f9f5-ef92/

[2020-08-08 18:48] daltonfury42 commented on #13
@thehamzarocks So you are using google sign on directly in Brainylog. We want the use to use the app for as long as he wants without getting the user to login. Is this possible... ?

[2020-08-09 16:12] daltonfury42 opened #74 "Queue Creation Time should come in the Queue Status Response"

[2020-08-09 17:27] daltonfury42 commented on #74
Done

[2020-08-09 17:28] daltonfury42 opened #76 "GET on /queues and /tokens should return sorted by creation time"

[2020-08-09 17:44] pavan541cs commented on #69
@daltonfury42 Can i pick this story and start the implementation. I think design is done right ?

[2020-08-09 18:00] #74 closed

[2020-08-09 18:37] daltonfury42 commented on #69
Please. I was thinking about this over the weekend. This is my thought:

`customQuestions` will be a PostgreSQL JSON datatype. https://www.postgresql.org/docs/9.4/datatype-json.html

1) Let name and contactNumber still stay as separate fields. We would just have to add this extra field `customQuestions` to the queue entity.
2) Lets then expose a POST endpoint to set the `customQuestions` for a que

[2020-08-09 18:40] daltonfury42 commented on #69
If the above looks fine to you, I'd say, split this into multiple PRs. Maybe c(1,2,3) can be one PR and 4, 5, 6 can be individual/separate PRs.

[2020-08-10 05:38] nikita-tyagi commented on #76
Can I start working on this issue?

[2020-08-10 06:18] thehamzarocks commented on #69
We should also give creators the ability to modify forms for existing queues. As if there are long-lived queues, the requirements might change over time. We need to version these forms so that old answers are preserved.

Another option for creators who recreate queues daily - it would be helpful for them to have their existing forms saved for reuse with their new queues.

[2020-08-10 07:24] daltonfury42 commented on #76
Sure. This can be a good task for you after you complete https://github.com/SimplQ/simplQ-backend/pull/78

[2020-08-10 07:28] daltonfury42 commented on #69
Yes, these two are super critical. @thehamzarocks After our versioning discussion, now I think we don't need to version, as the question is also included along with the answer.

[2020-08-10 21:37] daltonfury42 opened #79 "Make sure all timestamps are in UTC"
We store the creation timestamp of token and queue in DB. We need to make sure it's UTC time

[2020-08-11 17:44] pavan541cs commented on #69
@daltonfury42 What should be the new endpoint ? POST `/queue/{queueId}/customQuestions` ?

[2020-08-11 19:26] daltonfury42 commented on #69
@thehamzarocks  I'd favour `/queue/{queueId}/questions` more. or `/queue/{queueId}/custom-questions`. I don't think we should name url paths in java variable style

[2020-08-11 20:20] daltonfury42 commented on #79
They are.

[2020-08-11 20:20] #79 closed

[2020-08-23 17:05] pavan541cs commented on #69
@daltonfury42 What database are we using in PROD ?

[2020-08-23 17:45] daltonfury42 commented on #69
PostgreSQL

[2020-08-23 18:28] pavan541cs commented on #69
H2 doesnt support JSONB, So I am planning to change from H2 to postgres on local too @daltonfury42

[2020-08-23 19:01] daltonfury42 commented on #69
I see. I wanted locally running backends to connect to a H2 database so that it will ease development. You don't have to manage schema changes, and also a newcomer doesn't have to worry about setting up a local DB.

What do you recommend? Local postgres or storing the data as string?

cc: @thehamzarocks

[2020-08-23 19:19] thehamzarocks commented on #69
Hmm with H2, it’s very easy for new contributors to get set up. Also, unless we plan on doing operations on the json from within sql, I think it’s fine to store it as a string.

As far as I can see, we’ll only be doing get/post operations on the forms from UI. And if we rely too much on Postgres JSON functionality, we’ll be tied to it forever.

But if you see the need, then we can consider it.

[2020-08-23 19:30] daltonfury42 commented on #69
@pavan541cs let's store the json as string in DB, unless you think we should use jsonb

[2020-08-30 14:06] pavan541cs commented on #69
[code]

[2020-08-30 14:09] pavan541cs commented on #69
@daltonfury42 Just a small change, I changed the input payload by adding questions at the parent level. Can you confirm if it is fine ?

[2020-09-04 22:30] PavanDongare opened #81 "Queue post fails on certain inputs"
Inputs
ssss
qqqq

response:-
error: "Internal Server Error"
message: "could not execute statement; SQL [n/a]; constraint [uk_4emkh34msxtqa7blxlcimoqy9]; nested exception is org.hibernate.exception.ConstraintViolationException: could not execute statement"
path: "/v1/queue"
status: 500
timestamp: "2020-09-04T22:29:35.600+0000"

[2020-09-05 07:54] daltonfury42 commented on #81
This is because a queue by the same name already exists. We need to fix
this, to give the property readable error from backend

On Sat, 5 Sep, 2020, 4:00 am pavan, <notifications@github.com> wrote:

[2020-09-27 11:57] #15 closed

[2020-09-27 16:53] daltonfury42 commented on #81
This is resolved in #84

[2020-09-27 16:53] #81 closed

[2020-09-28 01:09] dhirenmathur commented on #76
Hi @daltonfury42, looks like this is still up for grabs, I'm looking to get started with #hacktoberfest in a couple of days, mind if I pick this up then if this is still an issue?

[2020-09-28 05:39] daltonfury42 commented on #76
Sure, go ahead.

[2020-10-01 08:27] dhirenmathur commented on #76
Hi @daltonfury42 , just getting set up here - for some reason code traversal isn't working in intellij for me, do you have any tips?
Also, what how should the responses be sorted, oldest first or newest first?

[2020-10-01 10:03] daltonfury42 commented on #76
Not sure why. It's working at my end. 🤔

You should open `simplQ-backend/complete`, it should open as a maven project. Try `mvn clean package` from within intellij... but this shouldn't have to do with code traversal

Oldest first.

[2020-10-01 10:30] dhirenmathur commented on #76
Hm ok, i'll see why else traversal could not work.
I tried to simulate the scenario to check the current behaviour and it looks like it already returns oldest first?
![image](https://user-images.githubusercontent.com/19893222/94798319-193e7700-03ff-11eb-94e7-7a85c7c3466e.png)

Do you have an irc/discord/telegram to discuss further?

[2020-10-01 21:14] daltonfury42 commented on #76
Let's discuss over the PR itself. It happens to come sorted, but we need to guarantee it.

Your would ensure this happens. For example something in the DB layer might change, and it would be a good to have to ensure this at service layer, or so I thought.

[2020-10-02 02:12] dhirenmathur commented on #76
Makes sense, I have incorporated your feedback.

[2020-10-02 02:26] dhirenmathur commented on #25
Does the label mean you're not working on this anymore? Where do you want to use final?

[2020-10-02 02:27] dhirenmathur commented on #70
Is this up for grabs?

[2020-10-02 04:58] daltonfury42 commented on #70
@nikita-tyagi has raised an open PR for this. It was pending my review, I missed it. I'll let her complete this if she wants to.

[2020-10-02 05:04] #70 closed

[2020-10-02 05:24] daltonfury42 commented on #25
I've added `final` in most places I have spotted I think. Just the package name and folder names remain.

We have a very simple backend, most of the active development is going in the frontend side. https://github.com/SimplQ/simplQ-frontend

If you are interested in taking a good item on the backend side, can you write a good integration test?

[code]
https://reflectoring.io/spring-boot-test/

We

[2020-10-02 07:15] #76 closed

[2020-10-02 07:16] dhirenmathur commented on #25
I like it, I was going to suggest unit tests first, but yes an integration test would help getting the CI set up for GitHub. Let me open a separate issue for this and I'll begin work on it.

I'm interested in continuing on the backend side, as you said it's a simple backend but the usecase is good and I'm learning from looking at your code. :)

[2020-10-02 07:20] dhirenmathur opened #86 "Adding an end to end integration test"

[2020-10-02 07:38] daltonfury42 commented on #25
I want to keep the backend lean, no new features unless we will use it. While you are going through the code, if you think there are any improvements possible for existing code, please raise an issue, and we can discuss.

Good tests were the next thing I wanted to take up. We automatically deploy PRs on merging, so these gates are very much needed.

[2020-10-02 08:07] dhirenmathur commented on #25
I've raised a PR for the low-hanging refactoring fruit of module name, artefact id etc. This might impact your deployment, so please take a closer look even though the changes might be simple.

Definitely! Will take a closer look. :)

[2020-10-02 11:41] dhirenmathur opened #88 "travis.yaml file contains hardcoded token"
While `travis.yml` file is hidden from the github UI it isn't good practise to have a hardcoded token, we should store the token in Github secrets for the repository and use an environment variable to access it in the script.

This should have no impact on local dev environment setup as travis isn't used anywhere locally.

[2020-10-02 15:30] daltonfury42 commented on #61
The CPU utilisation spiked when this happened today:

![image](https://user-images.githubusercontent.com/11256376/94941319-55063900-04f2-11eb-8d06-d9f72af03c79.png)

[2020-10-02 15:48] daltonfury42 commented on #88
I believe this token is safe to keep publicly. This is our repo's access token, excepted using TravisCI's private key. So only TravisCI servers can read it, it's ok to keep it public.

https://docs.travis-ci.com/user/environment-variables/#defining-encrypted-variables-in-travisyml

[2020-10-02 15:49] #88 closed

[2020-10-02 16:58] daltonfury42 commented on #25
I just merged and deployed. I had to make a small tweak to appspec.yml (https://github.com/SimplQ/simplQ-backend/commit/975d57b7c040a656fa1513b800eec335a624834c) but otherwise everything went smooth.

[2020-10-02 16:58] #25 closed

[2020-10-02 17:02] dhirenmathur commented on #25
Ah, good eye,  in the 52 files chaos I missed that 😅

[2020-10-03 16:46] dhirenmathur commented on #86
@daltonfury42 I'm still not able to get the intellisense thing working in the IDE, it's very difficult to work without automatic imports, code suggestions, code traversal etc
I tried with both openjdk11 and oracle-jdk 11, on two different machines with no luck. If you get some timcle can you check on a different machine and help me out?

Just wanted to get some help on the aforementioned issue bec

[2020-10-03 16:58] daltonfury42 commented on #86
mahn... that' a real pain, manual importing. I don't have a spare machine to try on, but let me reimport and see what happens... if not we can come together on google meet and try to figure this out.

[2020-10-03 17:08] daltonfury42 commented on #86
I'm not able to reproduce the issue at my end. I've send you a connection request on LinkedIn. Let's look at it together?

https://meet.google.com/xja-hcyn-skj

[2020-10-03 17:14] dhirenmathur commented on #86
Sounds good, ping me there when you're ready.

[2020-10-03 18:37] daltonfury42 opened #90 "[Experiment] Add parent pom to root of the repo"
Can we add a parent pom.xml to the root of the repository so that importing the root folder into Intellij would also work?

Otherwise we should add instruction to open `simplq/` folder into Intellij.

cc @dhirenmathur

[2020-10-03 19:13] dhirenmathur commented on #86
Thanks for helping fix this, it's way better now 👍🏻

[2020-10-03 19:15] dhirenmathur commented on #90
Will try this out and report back
👍🏻

[2020-10-03 19:16] daltonfury42 opened #91 "Let Users Sign Up using Google"
We currently have some authentication, but that is not perfect. We are using AWS Cognito, but [integrating Google Sign](https://developers.google.com/identity/sign-in/web/sign-in) would be easier and better for us.

**Current System**:Currently, a temporary userId and tempKey is generated and stored in the the local storage when someone visits simplq.me for the first time. It's used to authenticat

[2020-10-04 05:56] #90 closed

[2020-10-09 20:45] #20 closed

[2020-10-14 10:12] daltonfury42 commented on #86
Check this out: https://martinfowler.com/articles/practical-test-pyramid.html

They [claim](https://github.com/rest-assured/rest-assured/wiki/GettingStarted#spring-mock-mvc) to go well with MockMvc too.

[2020-10-14 10:23] dhirenmathur commented on #86
Will do. Sorry about the delay, I didn't get much time, and what I tried didn't work.

[2020-11-14 16:02] pavan541cs commented on #91
Is this implemented @daltonfury42 ?

[2020-11-21 06:13] daltonfury42 commented on #91
No, in the frontend side, I ended up removing cognito altogether, as it didn't make sense to maintain cognito for anonymous authentication.

So, we use google sign in alone, and for people who are not signed in, [ we mark them as "anonymous" ](https://github.com/SimplQ/simplQ-backend/pull/95/files#diff-fae7615cbc86b000f3f79590357f199e9abbc877a9dbd18bb487d01b01c03811R40) and move on.

In all reques

[2020-12-07 15:53] rahulkrishnan221 commented on #64
I am curious why you cloudformation or cdk are not being used?
Are you creating these resources manually?

[2020-12-07 16:12] daltonfury42 commented on #64
Hi @rahulkrishnan221 would love to know your thoughts on this...

Since we are still in the hobby project / prototype phase, and I have no plans on monetising, I want to stay within free tier limit as much as possible. I have set up CICD via TravisCI+CodeDeploy, and code is just the jar running on a ec2 machine.

The develop -> push -> deploy workflow is pretty smooth.

For this setup, I thought t

[2020-12-07 16:55] daltonfury42 opened #100 "[CodeQuality] Fix Sonarqube reported issues"
We have enabled Sonarqube, it has reported some bugs and code smells. Most of these are trivial.

Report: https://sonarcloud.io/dashboard?id=SimplQ_simplQ-backend

[2020-12-07 16:56] daltonfury42 commented on #61
I have enabled cloudwatch alarms for just this status check failure, for now.

[2020-12-07 17:41] rahulkrishnan221 commented on #64
CDK/cloudformation makes life much easier once setup due to following reasons.
1. In case if you are migrating this project to some other aws account or it became big with lot of resources and you have Cloudformation/cdk in place  it will be 2 -3 line of command and all your resources will be created/deployed again easily.
2. I am seeing issues such as adding NLB/API gateway or setting cloudwatch

[2020-12-18 17:04] rahulkrishnan221 commented on #64
Hi @daltonfury42 let me know if can contribute by introducing cdk ?

[2020-12-18 17:22] daltonfury42 commented on #64
Sure, I would like to connect with you whenever you are available. We can
discuss the design (current one is hacky) and you might come up with a
better one.

I am available anytime including now.

On Fri, 18 Dec 2020 at 10:34 PM, Rahul Krishnan <notifications@github.com>
wrote:

[2020-12-18 17:45] rahulkrishnan221 commented on #64
How could we connect could you provide your email or discord id or anything else?

[2020-12-18 17:59] daltonfury42 commented on #64
Lets connect on linkedin then I can send you a google meet link.

https://www.linkedin.com/in/navaneeth-kishore/

[2020-12-19 09:10] daltonfury42 opened #101 "Explore and Integrate SMS"
When a new token is created, we want to send an SMS to the mobile number which was entered. This SMS would have a link to the token status page, this will allow the person to know the live status while he is waiting, mainly the number waiting in front of him:

[code]

### AWS SNS

[AWS SNS](https://aws.amazon.com/sns/sms-pricing/) lets you send SMS worldwide, and and their [pricing](https://aws.am

[2021-01-02 09:52] daltonfury42 commented on #86
We are now mocking out the auth filter. https://github.com/SimplQ/simplQ-backend/pull/104/commits/7a4bc7e16591e5395f7f5c8e449c694868659836

[2021-01-02 10:12] daltonfury42 commented on #46
Add owner table:
[code]

[2021-01-02 10:35] daltonfury42 commented on #61
This happened while I have shell access today. Looks like a memory leak.

Disk
[code]

Memory:
[code]

Top Output:
[code]

Both the java processes (prod and dev backend services) are taking 2GB+ each, which should not be happening.

[2021-01-02 10:37] daltonfury42 opened #105 "Memory Leak"
Our backend service goes down randomly. This happened today while I have shell access today. Looks like a memory leak.

Disk
[code]

Memory:
[code]

Top Output:
[code]

Both the java processes (prod and dev backend services) are taking 2GB+ each, which should not be happening.

_Originally posted by @daltonfury42 in https://github.com/SimplQ/simplQ-backend/issues/61#issuecomment-753457686_

[2021-01-03 04:38] daltonfury42 commented on #100
All issues have been fixed. We have a integration test [here](https://github.com/SimplQ/simplQ-backend/blob/master/simplq/src/test/java/me/simplq/IntegrationTests.java), we need to configure it to come in coverage report

[2021-01-03 10:36] daltonfury42 opened #110 "Accidently pushed credentials to git, have to regerate"
https://github.com/SimplQ/simplQ-backend/pull/109/commits/ba3e6d37104e251c229516ac8f3d04352fc8c73c

[2021-01-03 12:20] #110 closed

[2021-01-03 17:18] #91 closed

[2021-01-03 17:19] #86 closed

[2021-01-03 17:20] daltonfury42 commented on #64
@rahulkrishnan221 you can create more specific issues as we discussed. I'll close this one for now

[2021-01-03 17:20] #64 closed

[2021-01-03 17:20] #61 closed

[2021-01-16 16:19] daltonfury42 opened #111 "PATCH Request to have a MAX_QUEUE_CAPACITY"
To support https://github.com/SimplQ/simplQ-frontend/issues/425 we need to add an extra property to the queue: MAX_QUEUE_CAPACITY.

1. When a queue is created, it will be set to -1, and -1 indicates infinite/no limit.
2. We will need to at a PATCH request to the queue resource to update the capacity limit
3. When we add a new token, we need add to the queue only if the limit has not reached.
4. `/

[2021-02-02 17:19] daltonfury42 opened #113 "Dockerise SimplQ to enable self hosting"
As a first step to enable self hosting of SimplQ, we need to write a build script and a Dockerfile.

For now created an empty repository [simplQ-docker](https://github.com/SimplQ/simplQ-docker) and documented the requirements in the repo's Readme [here](https://github.com/SimplQ/simplQ-docker/blob/main/README.md).

[2021-02-02 18:58] chalx commented on #113
@daltonfury42 but I don't think we need another repository for this. We can have each part(backend, frontend) with own Dockerfile and then just make a docker compose to make them work together.

[2021-02-02 20:01] daltonfury42 commented on #113
I get that, and that setup would be more straightforward to implement. But a single image would be convenient for someone to run with a single command, plus they would not have to install docker compose as an extra dependency.

I need to think a bit more but let me know if above doesn't seem that much important. We can go the docker-compose route if implementation wise the single image is not very

[2021-02-02 20:07] chalx commented on #113
@daltonfury42 we can have subtree in simplQ-docker of backend and frontend, each one with their own Dockerfile and a bash script from which you can tell, run docker-compose  or run single docker.

[2021-02-02 20:17] daltonfury42 commented on #113
I never though about subtrees, thanks.

Yes, we could start with this, and see if we can also have a single image later.

One thing I am wondering is, how would the frontend know the backend URL? Will it have to be computed from window.location? 🤔 That will be a tiny change to make.

[2021-02-02 20:24] chalx commented on #113
On frontend we can use dotenv. But how do you deploy frontend in this moment?

[2021-02-03 06:31] maaverik commented on #113
I have a doubt about using a single image. I haven't used docker before, so this might be a silly question, but isn't the point of having docker images so that developers could work on either the frontend or the backend and just run the other without having to care about the setup? So why would someone ever want to run both frontend and backend images at the same time? Can we do development on top

[2021-02-03 07:21] daltonfury42 commented on #113
Good question, actually. Here the idea is to use docker for "ease of deployment". If someone is interested in self hosting SimplQ, there would be a single docker image that he could run anywhere (a physical server, K8, some other container orchestration service etc.). This opens up a lot of possibilities of expansion.

@chalx is suggesting to have seperate images for frontend and backend services,

[2021-02-03 08:23] chalx commented on #113
Also maybe someone will need only the API docker to create something on top of it and he doesn't need frontend for example. And also if someone wants to deploy it he can do it using Kubernetes, grab the jar and js and deploy on a Tomcat, or why not run an docker swarm cluster on this own computer.

[2021-02-03 08:37] daltonfury42 commented on #113
We are using AWS Amplify for frontend deployment. [These](https://github.com/SimplQ/simplQ-frontend/blob/master/amplify.yml) commands are currently run to build front end. Currently the backend URL is hardcoded in code [here](https://github.com/SimplQ/simplQ-frontend/blob/master/simplq/src/api/axios.js#L5).

We could use `dotenv`, but still it gets picked up at build time. Is this the only way out

[2021-02-03 08:39] daltonfury42 commented on #113
We could theoretically substitute the URL file generated by the build before it's being served, have to look into this

[2021-02-03 09:49] chalx commented on #113
@daltonfury42 I have made a pull request to address this issue: https://github.com/SimplQ/simplQ-frontend/pull/515

[2021-02-04 21:13] chalx commented on #113
@daltonfury42 I think we can close this

[2021-02-05 04:06] daltonfury42 commented on #113
The hard part is over. Thanks for introducing gulp, it was new for me. I was thinking of next steps. These are the few more things I have in mind.

1. Write one more docker file, for backend.
2. Write a script, and a docker compose file in the simplQ-docker repo that will build the images.
3. Update the Readme in the repo with instructions.
4. Add a link in the footer "Self Host SimplQ" that will

[2021-02-05 08:08] chalx commented on #113
@daltonfury42 I saw that in backed exists a Dockerfile, maybe we can use that one. Also I need another information like, what  database is used and have you think to use a version control for database (ex. [Flyway](https://flywaydb.org/))?

[2021-02-05 15:24] daltonfury42 commented on #113
We should change the base image from jdk8 to jdk11, other than that we can use the same file. I didn't know that there existed one.

In our [current setup](https://github.com/SimplQ/simplQ-backend/blob/master/simplq/src/main/java/me/simplq/config/DataSourceConfig.java), if DB connection parameters are passed as env variables, we use it to connect to the specified DB. Else fallback to an in-memory

[2021-02-06 13:28] chalx commented on #113
@daltonfury42 Can you provide me all the SQL scripts? I will take care of this and then I will continue with dockerizing the app.

[2021-02-06 13:30] chalx commented on #113
And also can you do a [Gitter](https://gitter.im) to be more easy to communicate?

[2021-02-06 16:49] daltonfury42 commented on #113
Here is a schema dump, will this do?

[code]

I was trying it out, created a [community](https://gitter.im/SimplQ/community#) and have added you to it.

[2021-02-10 12:46] mradenovic opened #118 "Regression: Server responds with 500 error to every request"
Login from `http://localhost:3000/` works.
When login is attempted from `https;//simplq.me` it fails with message:

<strong>
Callback URL mismatch.
The provided redirect_uri is not in the list of allowed callback URLs.
Please go to the <a href="https://manage.auth0.com/#/applications/9BAywifjAy6n0sx8WbuQubMGGjofpwd6/settings" >Application Settings page</a> and make sure you are sending a valid cal

[2021-02-10 17:04] chalx commented on #111
@daltonfury42 this one can be closed.

[2021-02-11 04:34] daltonfury42 commented on #111
Thanks, @chalx

[2021-02-11 04:42] daltonfury42 commented on #118
This is fixed. Thanks for reporting.

I had put testing into back burner. We need to start thinking of testing soon!

[2021-02-11 04:42] #118 closed

[2021-02-11 04:57] daltonfury42 opened #119 "Automate Liquibase migration from CI"
Placeholder issue, will update soon

[2021-02-20 17:43] daltonfury42 commented on #111
@chalx's PR #114 has done (2) in the issue description, 1, 2 and 4 are left. Reopening.

[2021-02-20 19:25] maaverik opened #122 "Inconsistency in queue state"
I saw a case where I had a admin page link of a queue I used before and while opening it, I'm able to see the queue status and a member. When I tried to add a member or join this queue, I see that the request fails because apparently the queue has been deleted.

{"timestamp":"2021-02-20T19:17:14.694+0000","status":422,"error":"Unprocessable Entity","message":"The queue has been deleted","reasonCod

[2021-02-21 00:12] chalx commented on #122
@maaverik This is normal to happen because we do not do a hard delete, just a soft delete. So we just update a status to deleted.
1. So we can let to have same queue name, different id only if there not exists any other queue with the same name which has the state different from Deleted.
2. We can do a hard delete, but we can have an audit table for each generated queue.

[2021-02-21 05:40] daltonfury42 commented on #122
I initially thought that the queue name is a unique identifier for somone's queue, and it's not to be reused. But, thinking more, in our context, it's a fair ask from @maaverik

@chalx 2 looks safer and simpler as a concept, even though 1 might be easier to implement. If hibernate/we could handle [this](https://stackoverflow.com/questions/7844460/foreign-key-to-multiple-tables) well, we can go wit

[2021-03-30 03:36] daltonfury42 commented on #113
What are the tasks left for this? What I can think of are:
1. Write a script in the repo to build the frontend and backend images.
2. Write a docker compose file, which would have three services: frontend, backend and a postgres db (with migrations applied)
3. Update the readme with instructions.

@mmendiratta has offered to help us with this. @chalx can you guide him?

[2021-03-30 17:01] daltonfury42 commented on #113
Here is a sample setup @pavan541cs found: https://github.com/docker/awesome-compose/tree/master/react-java-mysql

[2021-03-30 17:53] chalx commented on #113
I have done that but I had not time to pushed it. I will commit these days.

[2021-03-30 18:06] chalx commented on #113
Also I will investigate about github docker registry and push images there and ok docker-compose use that images.

[2021-03-31 02:14] mmendiratta commented on #113
I like the idea of Docker Compose, so @chalx you have done the suggestion the @daltonfury42 gave? Otherwise, I can go ahead and create the Dockerfiles, the docker-compose, and a Makefile that can spin up any one of the FE, BE, or DB.

[2021-03-31 03:17] chalx commented on #113
@mmendiratta To make it run I have also change some code on backend so I will do a pull request with them, then I think we should look on GitHub docker registry and docker-compose will be easy to do. Using this approach will make full application start very easy for everyone(technical and non-technical users). If GitHub docker registry is not feasible then I think we can put images on docker hub.

[2021-03-31 04:20] daltonfury42 opened #126 "Backend Support for queue history"
Currently backend returns only the active tokens on calling `GET /queue/<queue-id>`.

To support queue history, we would need to do two things:

1. Record the deletion timestamp for each token
2. Add a list of `removedTokens` to  the [QueueDetailsResponse](https://github.com/SimplQ/simplQ-backend/blob/master/simplq/src/main/java/me/simplq/controller/model/queue/QueueDetailsResponse.java#L28) which

[2021-03-31 04:33] daltonfury42 commented on #126
Relates to https://github.com/SimplQ/simplQ-frontend/issues/601

[2021-03-31 04:38] daltonfury42 commented on #113
Yes, on the same page. Let us try out the GitHub registry and fallback to Dockerhub if it doesn't meet our needs.

@mmendiratta Let's avoid duplicate efforts, let @chalx take his time and finish this up. There are only two other MVP features that are left to do, one is [SMS alerts](https://github.com/SimplQ/simplQ-frontend/discussions/496) and then the [queue history](https://github.com/SimplQ/sim

[2021-04-02 20:37] mmendiratta commented on #113
@daltonfury42 Yes I can do that! Can you link me to an issue that needs help with that?

[2021-04-11 13:08] #111 closed

[2021-04-17 23:38] chalx commented on #122
@daltonfury42 this can be closed because is duplicate of https://github.com/SimplQ/simplQ-backend/issues/126 which will fix this problem

[2021-04-17 23:39] #122 closed

[2021-04-23 13:45] #113 closed

[2021-04-23 16:50] daltonfury42 opened #132 "Add health checks for production."
Have to think more, but thinking of writing a health check lambda scheduled to hit the backend server periodically, and send an email alert if the health check fails.

[2021-04-23 16:57] #105 closed

[2021-04-24 03:12] daltonfury42 opened #137 "We should have a validator class for queue and token objects"
We have different tests on queue and token entity objects done all over the place.

This should be extracted into other methods and use function composition. It is very hard to follow.
[code]
and then just call ```validateQueue(queue)```

_Originally posted by @chalx in https://github.com/SimplQ/simplQ-backend/pull/130#discussion_r619428589_

[2021-04-24 03:14] daltonfury42 commented on #137
Also explore this: https://github.com/SimplQ/simplQ-backend/pull/130/files#r619404455

[2021-04-24 05:28] daltonfury42 opened #141 "Bug: Adding someone with the same name again into the queue doesn't work."
To reproduce the issue, create a queue on the site [here](http://simplq.me/), add a person by any name, and then add again with a different number but same name. It will result in an error.

Looks like an unwanted unique constraint is somehow being created by hibernate or liquibase.

Error returned is:
[code]

[2021-04-25 04:40] daltonfury42 commented on #132
This is done, for now I defined a simple lambda that hits the server every minute and raises a cloudwatch alarm in case we have any outage.

[2021-04-25 12:51] daltonfury42 opened #143 "TechDebt: Remove overloaded status enums."
Our backend is very straightforward CRUD on two resources, queues and tokens. Both of them have two status fields, [QueueStatus](https://github.com/SimplQ/simplQ-backend/blob/master/simplq/src/main/java/me/simplq/constants/QueueStatus.java) and [TokenStatus](https://github.com/SimplQ/simplQ-backend/blob/master/simplq/src/main/java/me/simplq/constants/TokenStatus.java).

These enums are a bit overl

[2021-04-25 13:05] thehamzarocks commented on #143
Hmm I feel these Booleans are too tightly coupled? A queue can only have
one of isPaused or isRemoved anyway? And if we add another status, we might
need to add more booleans if we go by this approach?

On Sun, 25 Apr 2021 at 6:21 PM, daltonfury42 ***@***.***>
wrote:

[2021-04-25 13:18] daltonfury42 commented on #143
My reasoning was that "removing/deleting" and "pausing" are two different unrelated things, and should not be kept coupled. It could lead to bugs like you pause->delete->resume, and it would inadvertently lead to it getting undeleted, which might not be the intended outcome. Then we would have to handle it using if/else in code, as we are currently doing. (We could avoid a lot of bad if/else [here

[2021-04-25 13:40] thehamzarocks commented on #143
Hmm true if there was only one status flag we’d need to check if the queue
was deleted before resuming.
But with two flags, wherever we need to check if the queue is not paused,
we’d need to check that it was also not deleted? 🤔 Although that would be
a simple Boolean condition anyway.
My concern with more states still applies but if we don’t see that
happening, this should be fine.

On Sun, 25 Ap

[2021-04-25 14:36] daltonfury42 commented on #143
I was reading our code, and while counting the number of people currently in the queue, we were taking count of tokens where status = WAITING. We missed the people who were NOTIFIED. They are also in the queue and should have been counted.

So, same reasoning, if the token was notified or not, is independent of if the token is currently in the queue or not (DELETED vs ACTIVE).

[2021-05-01 17:10] daltonfury42 commented on #141
This is happening because we put this constraint in the liquibase script [here](https://github.com/SimplQ/simplQ-backend/blob/master/simplq/src/main/resources/db/changeset.log.xml#L48).

Liquibase doesn't provide an easy way to drop an unnamed constraint, so we need to do [this](https://stackoverflow.com/questions/24872539/liquibase-how-to-drop-unique-constraint-with-no-constraint-name).

[2021-05-02 10:25] farisshajahan opened #147 "Hardcoded URL in Token.java"
URL_PREFIX is hardcoded inside [Token.java](https://github.com/SimplQ/simplQ-backend/blob/master/simplq/src/main/java/me/simplq/dao/Token.java) and should ideally be changed to an environment file from which the value should be obtained. Hardcoding causes problems to users who might host their own instance of SimplQ on their servers.

[2021-05-02 10:33] farisshajahan opened #148 "getOwnerOrElseCreate() in OwnerService uses orElse instead of orElseGet"
[code]

According to the docs for `Optional.orElse()`, the statement inside orElse() (i.e `ownerRepository.save(new Owner(ownerID))`)  is evaluated even when `findById(ownerId)` finds the Owner object and returns it. The reason it doesn't create problems right now is because `CRUDRepository.save()` merges an Object with another in the DB if the `id` passed is already present in the DB. This behavi

[2021-05-02 10:40] farisshajahan opened #149 "Update README"
The default profile being used for the application runtime is local. The README also does not mention setting the profile at runtime to anything else. However, local has `sms.enabled=true` but does not mention how a developer can set up their credentials for the same. This leads to an error while running saying `FCM Credentials are not found`. The Dockerfile specifies the usage of the `dev` profil

[2021-05-02 12:44] daltonfury42 commented on #147
That's a good catch. We should read from a environment variable, and then default to the current value in the properties file [here](https://github.com/SimplQ/simplQ-backend/blob/master/simplq/src/main/resources/application.properties#L6).

[2021-05-02 12:45] #141 closed

[2021-05-02 12:52] daltonfury42 commented on #149
Hmm. To me, setting `sms.enabled` to false in local properties file [here](https://github.com/SimplQ/simplQ-backend/blob/master/simplq/src/main/resources/application-local.properties#L3) seems to be the best approach. What do you think?

FCM based notification is not yet production ready, so I don't want to include it in readme. We might remove it in the future if it didn't work for us.

[2021-05-02 12:56] daltonfury42 commented on #148
Nice catch. I didn't know this!

[2021-05-02 14:23] farisshajahan commented on #149
Sure. Switching to false should work. I guess devs could manually set it to true when they work with the SMS service and use MockSMS at all other times.
On a different note though, is there any reason we have two profiles (dev and local) both of which seem to be for development environments?

[2021-05-03 04:00] daltonfury42 commented on #149
I don't know how it is being used now, but the original idea was to have `local` for local development, `dev` and `prod` as two hosted environments. But now we don't have dev running anymore.

[2021-05-04 17:20] lanemets commented on #147
@farisshajahan @daltonfury42 Hi! I can take this issue if you don't mind.
I'm going to move URL_PREFIX to applicaton.properties and maybe move payload creation functionality to a separate component.

[2021-05-04 17:36] daltonfury42 commented on #147
Sure, go ahead.

On Tue, 4 May 2021 at 10:50 PM, Valeriy Lanemets ***@***.***>
wrote:

[2021-06-11 23:51] sijinpavithran commented on #148
Hi. I would like to work on this.

[2021-06-12 16:06] daltonfury42 commented on #148
Sure, go ahead.

[2021-06-27 22:59] sijinpavithran commented on #148
Thanks. I have been trying to setup the project on my pc. Facing some difficulty. Could you please share gitter chat details so I can connect & solve my doubts?

Regards.

[2021-06-28 19:19] daltonfury42 commented on #148
You can send the problem here, it might be better

On Mon, 28 Jun 2021 at 4:29 AM, Sijin Pavithran ***@***.***>
wrote:

[2021-07-03 07:36] #137 closed

[2021-07-03 07:58] daltonfury42 commented on #147
Thanks @lanemets

[2021-07-03 07:58] #147 closed

[2021-07-03 07:59] daltonfury42 commented on #148
Thanks all, closing the issue.

[2021-07-03 07:59] #148 closed

[2021-07-03 08:00] #132 closed

[2021-07-03 08:01] daltonfury42 commented on #46
We now have Liquibase setup, closing this

[2021-07-03 08:01] #46 closed

[2021-07-12 16:46] lanemets commented on #126
@daltonfury42 Would you mind if I start working on it?

[2021-08-01 13:30] #126 closed

[2021-08-05 18:15] daltonfury42 opened #156 "Bug: Queue name uniqueness constraint not present in DB."
This creates unexpected behaviour.

[2021-08-05 19:06] #156 closed

[2021-08-23 08:57] Soumit915 commented on #126
@daltonfury42 , I am working on the frontend for this issue, I have noticed that we can easily implement the history of the queue, if we can somehow store a list of objects that consists of :
{
   token_id: ..,           //token of the person who performed an action
   name: ...,               //name or id of the person who performed an action
   action: ...,              //type of action performe

[2021-08-23 08:58] Soumit915 commented on #126
Pls, guide

[2021-08-24 18:22] daltonfury42 commented on #126
@Soumit915 that's a great idea, we should do this. Let's have a new `GET /queue/<queue-id>/events` endpoint that returns a list of events that happened to the queue. We can return tokenNumber, tokenName, action (added and removed would do for now), and timestamp.

Thanks a lot.

[2021-08-24 21:36] Soumit915 commented on #126
[code]

I have shared the example JSON, above. Can you please create the `GET /queue/<queue-id>/events` , so that the history can be easily implemented.

The JSON has, two variablity, when the action will be `ADDED`, `REMOVED`, `NOTIFIED`,

[2021-08-25 08:46] Soumit915 commented on #126
Hey, I have mentioned in the thread on github. Please, create the
api-route  /queue/<queue-id>/events , so that I can implement it in the
front-end. Please do reply and help

On Tue, Aug 24, 2021 at 11:52 PM daltonfury42 ***@***.***>
wrote:

[2021-08-25 09:18] daltonfury42 commented on #126
Hi Soumit. Hoping that this is not an urgent customer requirement. I will be able to add the API only the next weekend.

We should merge [Anjali's PR](https://github.com/SimplQ/simplQ-frontend/pull/646), merge it to your work and make the changes for the proposed backend API. Please leave any comments on her PR which would help you later when you merge her work. Thanks.

[2021-09-05 16:11] Soumit915 opened #159 "Fix Duplicate Queue Name Issue"
![image](https://user-images.githubusercontent.com/46458047/131676108-ef65a0cc-62d9-49f7-9d56-28e603d325c3.png)

I see the name of the queue changes and becomes capitalised in the pop-up of the qr-code. I think there might be miss-understanding arising with the name of the queue, when there are alike names like 'MyQ1' and 'Myq1'. Even, when the queue remains empty this thing happens. This might le

[2021-09-05 19:10] daltonfury42 commented on #159
Is this because of us manipulating the case at frontend side?

https://github.com/SimplQ/simplQ-frontend/search?q=getSentenceCaseText

Yes, we should add a check.

[2021-09-05 19:30] Soumit915 commented on #159
@daltonfury42 yes, absolutely.

[2021-10-13 10:03] daltonfury42 opened #165 "Add API to export queue events as CSV"
Parallel to [this API](https://github.com/SimplQ/simplQ-backend/blob/master/simplq/src/main/java/me/simplq/controller/QueueController.java#L85), define a GET request that responds with the same data, but in CSV form.

[2021-11-07 17:48] Trinankur opened #178 "New queues can't be created with the deleted queue names"
Hi,

Not sure if this is a feature or an issue. I am not clear as to why once a queue having a certain queue name is deleted, a new queue with the same name can't be created again.

[2021-11-11 16:53] daltonfury42 commented on #178
Hi @Trinankur This was a intentional design constraint we took.

Queue names are used in queue url, hence should be unique. We enforce it as a DB constraint. When the queue is deleted, we only do soft deletes, as we might still need to let our clients have a log of people who had been in the queue.

[2021-11-11 17:55] Trinankur commented on #178
Understood, although this is a very good implementation but what if we could generate the url by hashing the queue name and queue id. That would take away the url constraint and only let the signed up users to have unique Queue name to let them investigate the queue if needed later. Because some users might abuse the system and use up all the good queue names that a client might have used. Not abl

[2021-11-12 05:00] daltonfury42 commented on #178
That's a great idea, simplicity was the reason we kept the current scheme.

Let's discuss and develop your idea further.

1. The way in which I have seen some of our recurring users use the product is, everyday they creates a new queue for a set of people. For example, today he might be opening his service for the HR department, tomorrow for Marketing. The queue names he creates in the current flo

[2021-11-13 16:48] Trinankur commented on #178
I was thinking of prepoluting 6 - 8 char long randomly generated base64 keys and keeping them in the db, which we can associate with the queues as and when created. This could prevent collisions.

When a queue is deleted we can remove the association with key and the key will be available to associate with a different queue. Let me know what do you think.

[2021-11-19 16:19] daltonfury42 opened #179 "Same token number assigned to multiple people"
[Here](https://github.com/SimplQ/simplQ-backend/blob/master/simplq/src/main/java/me/simplq/service/TokenService.java#L118) we get the last token number, increment by one to get the new token number.

![image](https://user-images.githubusercontent.com/11256376/142655979-f86dacc0-89c7-44ac-852e-251faf47956e.png)

Setting the transaction's isolation level to [SERIALIZABLE](https://www.baeldung.com/sp

[2021-11-19 16:27] #179 closed

[2022-04-30 12:34] meetcngh-sopho commented on #165
So Can i pick this ?